.Button {
  font-size: 0.8rem;
  align-self: center;
  border-color: transparent;
  padding: 8px 10px;
  width: 130px;
  background-color: #222837;
  color: #ffffff;
  z-index: 2;
}

.Button:hover {
  border-color: transparent;
  cursor: pointer;
  background-color: #cbae71 !important;
}

.Button:disabled {
  background-color: grey;
  border: none;
}
