.RoleIconSection {
  margin-top: 50px;
  text-align: center;
}

.Row {
  margin-top: 30px;
}

.Grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 60px;
  margin-top: 10px;
}

@media all and (max-width: 600px) {
  .RoleIconSection {
    margin-top: 150px;
  }
}
@media all and (max-width: 1400px) {
  .Grid {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
  }
}

@media all and (max-width: 1000px) {
  .Grid {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
}

@media all and (max-width: 768px) {
  .Grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
}

@media all and (max-width: 530px) {
  .Grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
