.ChampionName {
  color: #ffffffd6;
  font-family: "Bungee", sans-serif;
  font-size: 16px;
}

.ChampionCard {
  background-color: #cbae71;
  border: none;
  width: 200px;
  height: 230px;
}

.ChampionImage {
  height: 100%;
}

.ChampionCardBody {
  padding: 10px;
}
