.RoleIconSection {
  margin-top: 50px;
  text-align: center;
}

.Grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 60px;
  margin-top: 10px;
}

.NoChampsFound {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  color: #cbae71;
  font-size: 20px;
}

.Header {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #cbae71;
}

@media all and (max-width: 764px) {
  .RoleIconSection {
    margin-top: 150px;
  }
}
@media all and (max-width: 1400px) {
  .Grid {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
  }
}

@media all and (max-width: 1000px) {
  .Grid {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
}

@media all and (max-width: 768px) {
  .Grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
}

@media all and (max-width: 530px) {
  .Grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
