.ChampionName {
  color: #ffffffd6;
  font-family: "Bungee", sans-serif;
  font-size: 16px;
}

.ChampionCard {
  background-color: #cbae71;
  border: none;
  width: 200px;
  height: 230px;
  transition: transform 0.2s ease-out;
}

.ChampionImage {
  width: 100%;
  object-fit: cover;
  height: 200px;
}

.ChampionCardBody {
  padding: 10px;
}

.ChampionCard:hover {
  transform: translateY(-8px);
  filter: drop-shadow(0 0 0.2rem rgb(255, 217, 0));
}
