.ChampImage {
  padding-top: 50px;
  padding-left: 200px;
  padding-bottom: 200px;
  padding-right: 200px;
  width: 100%;
  height: auto;
}

@media all and (max-width: 1400px) {
  .ChampImage {
    padding-top: 50px;
    padding-left: 150px;
    padding-bottom: 150px;
    padding-right: 150px;
  }
}

@media all and (max-width: 1300px) {
  .ChampImage {
    padding-top: 50px;
    padding-left: 150px;
    padding-bottom: 150px;
    padding-right: 150px;
  }
}

@media all and (max-width: 991px) {
  .ChampImage {
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
  }
}
@media all and (max-width: 600px) {
  .ChampImage {
    margin-top: 150px;
  }
}
