.Image {
  padding-top: 50px;
  padding-left: 200px;
  padding-bottom: 80px;
  padding-right: 200px;
  width: 100%;
  height: auto;
}

.Name {
  justify-content: center;
  font-size: 30px;
}

.Alias {
  justify-content: center;
}

.AbilityImage {
  width: 80px;
  height: 100%;
  margin-top: 30px;
}

.AbilityType {
  margin-top: 7px;
  text-align: center;
  color: lightgray;
  font-size: 13px;
}

.AbilityName {
  text-align: center;
  font-size: 18px;
}

.RangeIcon {
  width: 70px;
  height: 60%;
  margin-top: 10px;
}

.MeleeIcon {
  width: 150px;
  height: 60%;
  margin-top: 10px;
}

.DifficultyIcon {
  margin-top: 50px;
  margin-bottom: 41px;
}

.UpVoteTitle {
  justify-content: center;
  font-size: 18px;
  margin-bottom: 30px;
}

@media all and (max-width: 1400px) {
  .Image {
    padding-top: 50px;
    padding-left: 150px;
    padding-bottom: 50px;
    padding-right: 150px;
  }
}

@media all and (max-width: 1300px) {
  .Image {
    padding-top: 50px;
    padding-left: 150px;
    padding-bottom: 50px;
    padding-right: 150px;
  }
}

@media all and (max-width: 991px) {
  .Image {
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
  }
}
@media all and (max-width: 600px) {
  .Image {
    margin-top: 150px;
  }
}
