.Owner {
  font-weight: bold;
  color: #cbae71;
  margin-right: 8px;
}

.Date {
  font-weight: lighter;
  color: #c1c1c5;
}
.Header {
  display: flex;
}

/* .Header div:last-of-type {
  margin-left: auto;
} */

.Dropdown {
  margin-left: auto;
  display: flex;
}
