.Owner {
  font-weight: bold;
  color: #cbae71;
  margin-right: 8px;
  margin-left: 10px;
}

.Date {
  font-weight: lighter;
  color: #c1c1c5;
}
.Header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.Dropdown {
  margin-left: auto;
  display: flex;
}

.ManageComment {
  color: grey;
  font-size: 20px;
}

.ManageComment:hover {
  color: #cbae71;
}
