.NavBar {
  background-color: #070a14;
  display: flex;
  justify-content: space-evenly !important;
}

.NavLink {
  padding: 5px;
}

.Active i {
  color: #cbae71;
}

.Active a {
  color: #cbae71;
}

.Container {
  display: flex;
  justify-content: space-evenly;
}
