.Header {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #cbae71;
}

.ContentBackground {
  background-color: #070a14;
  text-align: center;
}

.Input {
  border-radius: 2px;
  text-align: center;
  padding: 10px;
  margin-top: 4px;
  background-color: #2f3547b0;
  color: #cbae71;
  border: none;
}

input[type="text"]:focus {
  border: 2px #cbae71 solid;
  background-color: #2f3547b0;
  box-shadow: none;
  color: #cbae71;
}

.Input:disabled {
  border-radius: 2px;
  text-align: center;
  padding: 10px;
  margin-top: 4px;
  background-color: #2f3547b0;
  color: #cbae71;
  border: none;
}
