.SearchBar {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  border: none;
  outline: none;
}

input[type="text"] {
  background-color: #222837;
  border: none;
  color: #cbae71;
  outline: none;
}

input[type="text"]:focus {
  background-color: #222837;
  border: none;
  color: #cbae71;
  outline: none;
}
