.Row {
  height: calc(100vh - 81px);
  justify-content: center;
  align-items: center;
}

.Container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.Input {
  background: #ffffff;
  border: 2px solid #222837;
  box-sizing: border-box;
  border-radius: 2px;
  color: #1a1a1a;
  text-align: center;
  padding: 10px;
  margin-top: 4px;
}

.Header {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #cbae71;
}

.ContentBackground {
  background-color: #222837;
  border-radius: 11px;
  text-align: center;
}

.Header {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #cbae71;
}

.Alert {
  background-color: #222837 !important;
  color: red !important;
  border-color: #222837;
  padding: 2px;
  margin-bottom: 0px;
}

.Link {
  text-decoration: none;
  text-align: center;
  display: block;
  margin: auto;
  padding: 10px;
}

.Link span {
  color: #cbae71;
}

.Container {
  padding: 30px 10px;
}

.SignInCol {
  height: 320px;
}
