.SplashBackground {
  background-image: url("../assets/splash_images/splash_image.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  filter: grayscale(100);
  opacity: 0.05;
  z-index: 1;
}

.InnerContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.WelcomeText {
  font-size: 60px;
  font-weight: bold;
  color: #cbae71;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.ButtonRow {
  justify-content: center;
  margin-top: 100px;
}

.DescriptionText {
  color: #cbae71;
  padding: 20px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  justify-content: center;
  margin-top: 100px;
}

.ActiveImage {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.InactiveImage {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  filter: grayscale(100);
}

.FeatureCol {
  text-align: center;
  margin-top: 100px;
}

.FeatureText {
  margin-top: 10px;
  color: #cbae71;
}

@media all and (max-width: 940px) {
  .ActiveImage {
    height: 100px;
    width: 100px;
  }

  .InactiveImage {
    height: 100px;
    width: 100px;
  }

  .WelcomeText {
    font-size: 40px;
  }

  .FeatureRow {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .FeatureCol {
    margin-top: 20px;
  }
}
