.App {
  font-family: "DM Sans", sans-serif;
  background-color: #070a14;
  min-height: 100vh;
}

input[type="file"] {
  display: none;
}

.Main {
  padding-top: 81px;
}

* {
  box-sizing: border-box;
  color: white;
}

a {
  color: #ffffff;
  transition: ease-in-out 0.3s;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #cbae71;
}

a:hover i {
  color: #cbae71;
  transition: ease-in-out 0.3s;
}

i {
  color: #ffffff;
  font-size: 1.6rem;
  padding: 7px;
  vertical-align: middle;
}

i:hover {
  cursor: pointer;
  transition: ease-in-out 0.3s;
}
