body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div.dropdown-menu.show {
  background-color: #222837;
}

a.dropdown-item {
  color: white;
}

.dropdown-menu {
  top: 55px;
  right: 0px;
  left: auto;
  margin-top: 7px !important;
  --bs-dropdown-link-hover-bg: #cbae71;
  --bs-dropdown-link-hover-color: white;
}

.btn-primary:hover {
  background-color: #cbae71;
  color: white;
}

.pagination {
  --bs-pagination-focus-bg: #cbae71 !important;
  --bs-pagination-focus-box-shadow: none;
  --bs-pagination-focus-color: white !important;
}

.card-title {
  margin-bottom: 5px;
  margin-top: 5px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #222837 inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #cbae71 !important;
}

textarea.form-control:focus {
  border: 2px #cbae71 solid;
  background-color: #222837;
  box-shadow: none;
  color: #cbae71;
}
